body {
    height: 100%;
    font-family: Comic Sans MS;
    background-color: black;
    text-align: center;
}
.title{
    color: rgba(4, 150, 11, 0.753);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 20px;

}

.emty{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(240, 240, 243);
    font-size: 80px;
    text-align: center;
    color: blue;

}
.emty:hover{
    background-color: rgb(114, 114, 114)
}
   
.PlayerMessage {
    text-align: center;
    color: rgb(99, 6, 45);
    font-weight: 900;
    font-size: 200%;
}

button {
    width: 290px;
    height: 50px;
    border: 3px solid blue;
    font-weight: 900;
    margin-top: 8px;
}
.newGame {
    width: 250px;
    height: 30px ;
    margin-top: 8px;
    font-weight: 900;
    border: 3px solid blue;
}
.main {
    width: 100%;
}
.table {
    cursor: pointer;
    margin: auto;
}
